/* global styles */
body {
	font-size: 0.95rem;
	-webkit-user-select: none;
	user-select: none;
}
h1 {
	margin: 0.25em 0;
	font-size: 1.75rem;
}
*[draggable=true] {
	cursor: move;
}

/* layout */
html, body { height: 100%; }
body {
	margin: 0;
	display: flex;
	flex-direction: column;
}
#popup-bg {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.75);
}
#popup {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;

	border: 1px solid black;
	border-radius: 5px;
	background: white;
	padding: 15px;
}

/* header layout */
header {
	display: flex;
	justify-content: space-between;
}

/* main layout */
#main {
	display: flex;
	flex-grow: 1;
	flex-shrink: 1;
	overflow-y: hidden;
}
#dirchooser {
	margin-right: 10px;
}
#browser {
	padding-left: 5px;
	overflow-y: scroll;
}
#music {
	flex-grow: 1;
	border: 1px solid #3498DB;
}

/* music pane layout */
#music {
	display: flex;
	flex-direction: column;
}
#samples {
	flex-grow: 1;
}
#now {
	height: 5px;
}

/* loop browser style */
.dir .dir {
	margin-left: 20px;
}
.dir .name {
	padding-left: 20px;
	background-image: url('folder-music.svg');
	background-size: 0.95rem 0.95rem;
	background-repeat: no-repeat;
	cursor: pointer;
}
.dir .name:hover, .file:hover {
	background-color: rgba(51, 152, 219, 0.2);
}
.file {
	margin-left: 20px;
}

/* music pane */
#now { overflow: hidden; }
#arrow {
	position: relative;
	left: -5px; 
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

#persistance { border-top: 1px solid #3498DB; }
#songname { width: 150px; }
#songerror { color: red; }

.sample {
	border-right: 2px solid blue;
	background: #ddf;
	height: 50px;
	position: relative;
}
.sample .x {
	position: absolute;
	top: 0;
	right: 5px;
	cursor: pointer;
}
.sample .beat {
	border-radius: 50%;
	width: 5px;
	height: 5px;
	border: 1px solid black;
	position: absolute;
	bottom: 5px;
}
.sample .beat.audible {
	background: black;
}

